@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  scroll-behavior: smooth;
}

img,
video {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-zoom: none;
  user-select: none;
}

/* ---- Custom Css */
.animation-count-2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
