@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  scroll-behavior: smooth;
}

img,
video,
.disable-user-actions {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

/* ---- Custom Css */
.animation-count-2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

/* ............... Hero Image  */
@layer utilities {
  .hero-img {
    background: url("/images/furniture/hero-furniture-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @screen md {
    .hero-img {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url("/images/furniture/hero-furniture-4.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

/* ............... thin-scrollbar  */
/* For Chrome, Safari, and Opera */
.thin-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* For Chrome, Safari, and Opera */
.thin-scrollbar::-webkit-scrollbar-thumb {
  scrollbar-color: var(--primary) transparent;
  border-radius: 10px;
}

.thin-scrollbar {
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: 10px;
}

.white-thin-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* For Chrome, Safari, and Opera */
.white-thin-scrollbar::-webkit-scrollbar-thumb {
  scrollbar-color: white transparent;
  border-radius: 10px;
}

.white-thin-scrollbar {
  scrollbar-color: white transparent;
  scrollbar-width: 10px;
}
